In [113]:
# Retrieve news
import urllib.request
from datetime import datetime
 
master_url = 'http://data.gdeltproject.org/gdeltv2/masterfilelist.txt'
master_file = urllib.request.urlopen(master_url)
min_date = datetime.strptime("2020 1 1 12", '%Y %m %d %H')
max_date = datetime.strptime("2020 1 5 12", '%Y %m %d %H')
to_download = []
for line in master_file:
    decoded_line = line.decode("utf-8")
    if 'gkg.csv.zip' in decoded_line:
        a = decoded_line.split(' ')
        file_url = a[2].strip()
        file_dte = datetime_object = datetime.strptime(file_url.split('/')[-1].split('.')[0], '%Y%m%d%H%M%S')
        if (file_dte > min_date and file_dte <= max_date):
            to_download.append(file_url)
print("{} file(s) to download since {}".format(len(to_download), min_date))

384 file(s) to download since 2020-01-01 12:00:00

In [116]:
from zipfile import ZipFile
import gzip
import io
import os
 
def download_content(url, save_path):
    with urllib.request.urlopen(url) as dl_file:
        input_zip = ZipFile(io.BytesIO(dl_file.read()), "r")
        name = input_zip.namelist()[0]
        with gzip.open(save_path, 'wb') as f:
              f.write(input_zip.read(name))

def download_to_dbfs(url):
    file_name = '{}.gz'.format(url.split('/')[-1][:-4])
    tmp_file = '{}/{}'.format("./news", file_name)
    download_content(url, tmp_file)
    # dbutils.fs.mv('file:{}'.format(tmp_file), 'dbfs:{}/{}'.format("/content", file_name))
    
n = len(to_download)
for i, url in enumerate(to_download):
    download_to_dbfs(url)
    print("{}/{} [{}]".format(i + 1, n, url))

1/384 [http://data.gdeltproject.org/gdeltv2/20200101121500.gkg.csv.zip]
2/384 [http://data.gdeltproject.org/gdeltv2/20200101123000.gkg.csv.zip]
3/384 [http://data.gdeltproject.org/gdeltv2/20200101124500.gkg.csv.zip]
4/384 [http://data.gdeltproject.org/gdeltv2/20200101130000.gkg.csv.zip]
5/384 [http://data.gdeltproject.org/gdeltv2/20200101131500.gkg.csv.zip]
6/384 [http://data.gdeltproject.org/gdeltv2/20200101133000.gkg.csv.zip]
7/384 [http://data.gdeltproject.org/gdeltv2/20200101134500.gkg.csv.zip]
8/384 [http://data.gdeltproject.org/gdeltv2/20200101140000.gkg.csv.zip]

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "c:\users\qhuca\anaconda3\envs\download\lib\site-packages\IPython\core\interactiveshell.py", line 3343, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-116-e14e48524c49>", line 21, in <module>
    download_to_dbfs(url)
  File "<ipython-input-116-e14e48524c49>", line 16, in download_to_dbfs
    download_content(url, tmp_file)
  File "<ipython-input-116-e14e48524c49>", line 11, in download_content
    f.write(input_zip.read(name))
  File "c:\users\qhuca\anaconda3\envs\download\lib\gzip.py", line 264, in write
    self.fileobj.write(self.compress.compress(data))
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\users\qhuca\anaconda3\envs\download\lib\site-packages\IPython\core\interactiveshell.py", line 2044, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'KeyboardInterrupt' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\users\qhuca\anaconda3\envs\download\lib\genericpath.py", line 19, in exists
    os.stat(path)
OSError: [WinError 123] The filename, directory name, or volume label syntax is incorrect: '<ipython-input-116-e14e48524c49>'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\users\qhuca\anaconda3\envs\download\lib\site-packages\IPython\core\ultratb.py", line 1169, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "c:\users\qhuca\anaconda3\envs\download\lib\site-packages\IPython\core\ultratb.py", line 316, in wrapped
    return f(*args, **kwargs)
  File "c:\users\qhuca\anaconda3\envs\download\lib\site-packages\IPython\core\ultratb.py", line 350, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "c:\users\qhuca\anaconda3\envs\download\lib\inspect.py", line 1490, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "c:\users\qhuca\anaconda3\envs\download\lib\inspect.py", line 1448, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "c:\users\qhuca\anaconda3\envs\download\lib\inspect.py", line 693, in getsourcefile
    if os.path.exists(filename):
  File "c:\users\qhuca\anaconda3\envs\download\lib\genericpath.py", line 19, in exists
    os.stat(path)
KeyboardInterrupt

TypeError: object of type 'NoneType' has no len()

In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
# documentation available
# http://data.gdeltproject.org/documentation/GDELT-Global_Knowledge_Graph_Codebook-V2.1.pdf
header_list = ["GKGRECORDID", "V2.1DATE", "V2SOURCECOLLECTIONIDENTIFIER", "V2SOURCECOMMONNAME", "V2DOCUMENTIDENTIFIER",
           "V1COUNTS", "V2.1COUNTS", "V1THEMES", "V2ENHANCEDTHEMES", "V1LOCATIONS", "V2ENHANCEDLOCATIONS", "V1PERSONS", "V2ENHANCEDPERSONS",
           "V1ORGANIZATIONS", "V2ENHANCEDORGANIZATIONS", "V1.5TONE", "V2.1ENHANCEDDATES", "V2GCAM", "V2.1SHARINGIMAGE", "V2.1RELATEDIMAGES",
           "V2.1SOCIALIMAGEEMBEDS", "V2.1SOCIALVIDEOEMBEDS", "V2.1QUOTATIONS", "V2.1ALLNAMES", "V2.1AMOUNTS", "V2.1TRANSLATIONINFO", "V2EXTRASXML"]
        
# data = pd.read_csv('./news/20211114120000.gkg.csv.gz', compression='gzip', names=header_list, sep='\t')
# data


import pandas as pd
import glob

path = r'D:\Thesis_Qingzhi\utils\news' # use your path
all_files = glob.glob(path + "/*.gz")
# print(all_files)
li = []

for filename in tqdm(all_files):
    try:
        df = pd.read_csv(filename, compression='gzip', names=header_list, sep='\t', encoding='latin-1')
        li.append(df)
    except:
        print(filename, " does not work")

data = pd.concat(li, axis=0, ignore_index=True)

  3%|██                                                                               | 10/384 [00:01<00:38,  9.69it/s]

D:\Thesis_Qingzhi\utils\news\20200101141500.gkg.csv.gz  does not work

 10%|████████                                                                         | 38/384 [00:05<00:40,  8.53it/s]

D:\Thesis_Qingzhi\utils\news\20200101211500.gkg.csv.gz  does not work

100%|████████████████████████████████████████████████████████████████████████████████| 384/384 [01:13<00:00,  5.24it/s]

In [2]:
data

,GKGRECORDID,V2.1DATE,V2SOURCECOLLECTIONIDENTIFIER,V2SOURCECOMMONNAME,V2DOCUMENTIDENTIFIER,V1COUNTS,V2.1COUNTS,V1THEMES,V2ENHANCEDTHEMES,V1LOCATIONS,...,V2GCAM,V2.1SHARINGIMAGE,V2.1RELATEDIMAGES,V2.1SOCIALIMAGEEMBEDS,V2.1SOCIALVIDEOEMBEDS,V2.1QUOTATIONS,V2.1ALLNAMES,V2.1AMOUNTS,V2.1TRANSLATIONINFO,V2EXTRASXML
0,20200101121500-0,20200101121500,1,ianslive.in,http://www.ianslive.in/index.php?param=categor...,NaN,NaN,TAX_ETHNICITY;TAX_ETHNICITY_ENGLISH;TAX_WORLDL...,"TAX_ETHNICITY_ENGLISH,290;TAX_WORLDLANGUAGES_E...",NaN,...,"wc:117,c12.1:7,c12.10:7,c12.14:7,c12.4:1,c12.5...",NaN,NaN,NaN,https://youtube.com/embed/uVr65FoBg1E?list=PLf...,NaN,NaN,NaN,NaN,<PAGE_TITLE>Welcome To IANS Live</PAGE_TITLE>
1,20200101121500-1,20200101121500,1,msn.com,https://www.msn.com/en-us/news/us/2-dead-after...,"KILL#2##3#Fort Worth, Texas, United States#US#...","KILL#2##3#Fort Worth, Texas, United States#US#...",MANMADE_DISASTER_IMPLIED;KILL;CRISISLEX_CRISIS...,"SECURITY_SERVICES,606;TAX_FNCACT_POLICE,606;CR...","3#Dallas, Texas, United States#US#USTX#32.7831...",...,"wc:111,c12.1:4,c12.10:6,c12.12:4,c12.13:1,c12....",NaN,NaN,NaN,NaN,NaN,"Fort Worth,146;McCart Avenue,244;Bilglade Road...","2,people,70;",NaN,<PAGE_TITLE>2 Dead After Head-On Crash In Fort...
2,20200101121500-2,20200101121500,1,wafb.com,https://www.wafb.com/2020/01/01/bbb-tips-consi...,NaN,NaN,TAX_FNCACT;TAX_FNCACT_PHYSICIAN;GENERAL_HEALTH...,"TAX_FNCACT_PHYSICIAN,517;EPU_ECONOMY_HISTORIC,...",NaN,...,"wc:470,c12.1:47,c12.10:48,c12.12:15,c12.13:11,...",https://www.wafb.com/resizer/cgHeesZWzt4pXY8lG...,NaN,NaN,NaN,NaN,"New Year,29;Business Profiles,1000",NaN,NaN,<PAGE_LINKS>https://www.bbb.org/</PAGE_LINKS><...
3,20200101121500-3,20200101121500,1,signal107.co.uk,https://www.signal107.co.uk/news/uk-news/happy...,NaN,NaN,NaN,NaN,"4#River Thames, United Kingdom (General), Unit...",...,"wc:573,c12.1:31,c12.10:36,c12.12:6,c12.13:23,c...",https://e3.365dm.com/20/01/640x380/skynews-new...,NaN,NaN,NaN,1461|39||the best fireworks London has ever seen,"United Kingdom,20;London Eye,532;Coming Home,8...","100000,of thousands of jubilant,148;12000000,a...",NaN,<PAGE_TITLE>Happy New Year! 'The best firework...
4,20200101121500-4,20200101121500,1,garstangcourier.co.uk,https://www.garstangcourier.co.uk/education/gr...,NaN,NaN,EDUCATION;,"EDUCATION,675;","4#Longridge, Lancashire, United Kingdom#UK#UKH...",...,"wc:378,c1.1:1,c1.2:1,c12.1:28,c12.10:32,c12.12...",NaN,NaN,NaN,NaN,NaN,"Graeme Sergeant,36;Blackpool Tower,133;Grimsar...","2,spaniels Patch,426;260,came,1185;8,times for...",NaN,<PAGE_ALTURL_AMP>https://www.garstangcourier.c...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
516051,20200105120000-763,20200105120000,1,reuters.com,https://uk.reuters.com/article/us-gulf-markets...,NaN,NaN,TAX_ETHNICITY;TAX_ETHNICITY_ARAB;ECON_STOCKMAR...,"IDEOLOGY,1962;ECON_WORLDCURRENCIES_DOLLAR,1602...","1#Saudi Arabia#SA#SA#25#45#SA;4#Dubai, Dubayy,...",...,"wc:315,c1.2:1,c12.1:19,c12.10:24,c12.12:10,c12...",https://s2.reutersmedia.net/resources/r/?m=02&...,NaN,NaN,https://youtube.com/user/ReutersVideo;https://...,NaN,"Saudi Stock Exchange,223;Saudi Aramco,273;Saud...","55,riyals a share,876;5,percentage points,960;...",NaN,<PAGE_LINKS>http://thomsonreuters.com/en/about...
516052,20200105120000-764,20200105120000,1,straitstimes.com,https://www.straitstimes.com/asia/se-asia/chin...,NaN,NaN,TAX_ETHNICITY;TAX_ETHNICITY_INDONESIAN;TAX_WOR...,"ARMEDCONFLICT,243;EPU_CATS_NATIONAL_SECURITY,2...","4#Ranai, Kalimantan Barat, Indonesia#ID#ID11#3...",...,"wc:349,c1.2:1,c12.1:17,c12.10:22,c12.12:4,c12....",https://www.straitstimes.com/sites/all/themes/...,NaN,NaN,NaN,"2344|126||unilateral , have no legal basis and...","Indonesian Military,46;Riau Islands,140;Defenc...","2,warships,595;",NaN,<PAGE_LINKS>https://www.straitstimes.com/asia/...
516053,20200105120000-765,20200105120000,1,mensxp.com,https://www.mensxp.com/fashion/celebrity-style...,NaN,NaN,NaN,NaN,NaN,...,"wc:370,c1.3:2,c1.4:1,c12.1:25,c12.10:33,c12.12...",https://img.mensxp.com/media/content/2020/Jan/...,https://img.mensxp.com/media/content/2020/Jan/...,https://instagram.com/p/B62Pum-JKcU;,https://youtube.com/channel/UC7eZNThpjgXe5H0Qw...,NaN,"Arjun Kapoor,246;Buttoned' Joggers,711;Lyte' S...",NaN,NaN,<PAGE_LINKS>https://www.mensxp.com/fashion/cel...
516054,20200105120000-766,20200105120000,1,ncnewsonline.com,https://www.ncnewsonline.com/news/national/cro...,NaN,NaN,ELECTION;LEADER;TAX_FNCACT;TAX_FNCACT_PRESIDEN...,"GENERAL_GOVERNMENT,1589;GENERAL_GOVERNMENT,281...","4#Zagreb, Zagreb, Grad, Croatia#HR#HR21#45.8#1...",...,"wc:468,c1.2:1,c12.1:24,c12.10:52,c12.12:15,c12...",https://bloximages.chicago2.vip.townnews.com/n...,NaN,NaN,NaN,NaN,"European Union,267;Kolinda Grabar Kitarovic,68...","6,months with overseeing Britain,378;2,contend...",NaN,<PAGE_AUTHORS>DARKO BANDIC Associated Press</P...
516055,20200105120000-767,20200105120000,1,mvariety.com,http://www.mvariety.com/cnmi-local/74-editoria...,NaN,NaN,TAX_FNCACT;TAX_FNCACT_SINGER;TAX_FNCACT_PRODUC...,"TAX_ETHNICITY_ROMANIAN,360;TAX_ETHNICITY_ROMAN...","1#Norway#NO#NO#62#10#NO;4#Timi, Landskapet Bir...",...,"wc:543,c1.1:3,c1.4:1,c12.1:38,c12.10:40,c12.12...",NaN,NaN,NaN,https://youtube.com/watch?v=P-n7mb8DOG4</p;htt...,NaN,"Paula Seling,13;Golden Stag Trophy,550;Music A...","12,albums,100;20,singles over her 20-plus,119;...",NaN,<PAGE_AUTHORS>Tiberiu Dianu</PAGE_AUTHORS><PAG...

In [3]:
# V1THEMES
# V2ENHANCEDTHEMES

# V1PERSONS
# V2ENHANCEDPERSONS

# V1ORGANIZATIONS
# V2ENHANCEDORGANIZATIONS

# V1.5TONE

In [4]:
with open("companies.txt", "r") as file:
    lines = file.readlines()
    companies_list = [line.rstrip() for line in lines]
    
import pandas as pd

# There are 2 tables on the Wikipedia page
# we want the first table

payload=pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
first_table = payload[0]
second_table = payload[1]

df_symbol = first_table
companies_list = df_symbol.Security.values.tolist()
companies_list

['3M',
 'Abbott Laboratories',
 'AbbVie',
 'Abiomed',
 'Accenture',
 'Activision Blizzard',
 'Adobe',
 'Advanced Micro Devices',
 'Advance Auto Parts',
 'AES Corp',
 'Aflac',
 'Agilent Technologies',
 'Air Products & Chemicals',
 'Akamai Technologies',
 'Alaska Air Group',
 'Albemarle Corporation',
 'Alexandria Real Estate Equities',
 'Align Technology',
 'Allegion',
 'Alliant Energy',
 'Allstate Corp',
 'Alphabet (Class A)',
 'Alphabet (Class C)',
 'Altria Group',
 'Amazon',
 'Amcor',
 'Ameren Corp',
 'American Airlines Group',
 'American Electric Power',
 'American Express',
 'American International Group',
 'American Tower',
 'American Water Works',
 'Ameriprise Financial',
 'AmerisourceBergen',
 'Ametek',
 'Amgen',
 'Amphenol',
 'Analog Devices',
 'Ansys',
 'Anthem',
 'Aon',
 'A. O. Smith',
 'APA Corporation',
 'Apple',
 'Applied Materials',
 'Aptiv',
 'ADM',
 'Arista Networks',
 'Arthur J. Gallagher & Co.',
 'Assurant',
 'AT&T',
 'Atmos Energy',
 'Autodesk',
 'Automatic Data Processing',
 'AutoZone',
 'AvalonBay Communities',
 'Avery Dennison',
 'Baker Hughes',
 'Ball Corp',
 'Bank of America',
 'Bath & Body Works',
 'Baxter International',
 'Becton Dickinson',
 'Berkshire Hathaway',
 'Best Buy',
 'Bio-Rad Laboratories',
 'Bio-Techne',
 'Biogen',
 'BlackRock',
 'BNY Mellon',
 'Boeing',
 'Booking Holdings',
 'BorgWarner',
 'Boston Properties',
 'Boston Scientific',
 'Bristol Myers Squibb',
 'Broadcom',
 'Broadridge Financial Solutions',
 'Brown & Brown',
 'Brown–Forman',
 'C. H. Robinson',
 'Cadence Design Systems',
 'Caesars Entertainment',
 'Campbell Soup',
 'Capital One',
 'Cardinal Health',
 'CarMax',
 'Carnival Corporation',
 'Carrier Global',
 'Catalent',
 'Caterpillar',
 'Cboe Global Markets',
 'CBRE',
 'CDW',
 'Celanese',
 'Centene',
 'CenterPoint Energy',
 'Ceridian',
 'Cerner',
 'CF Industries',
 'Charles River Laboratories',
 'Charles Schwab',
 'Charter Communications',
 'Chevron',
 'Chipotle Mexican Grill',
 'Chubb',
 'Church & Dwight',
 'Cigna',
 'Cincinnati Financial',
 'Cintas Corporation',
 'Cisco Systems',
 'Citigroup',
 'Citizens Financial Group',
 'Citrix Systems',
 'Clorox',
 'CME Group',
 'CMS Energy',
 'Coca-Cola',
 'Cognizant Technology Solutions',
 'Colgate-Palmolive',
 'Comcast',
 'Comerica',
 'Conagra Brands',
 'ConocoPhillips',
 'Consolidated Edison',
 'Constellation Brands',
 'The Cooper Companies',
 'Copart',
 'Corning',
 'Corteva',
 'Costco',
 'Coterra',
 'Crown Castle',
 'CSX',
 'Cummins',
 'CVS Health',
 'D. R. Horton',
 'Danaher',
 'Darden Restaurants',
 'DaVita',
 'Deere & Co.',
 'Delta Air Lines',
 'Dentsply Sirona',
 'Devon Energy',
 'DexCom',
 'Diamondback Energy',
 'Digital Realty Trust',
 'Discover Financial Services',
 'Discovery (Series A)',
 'Discovery (Series C)',
 'Dish Network',
 'Dollar General',
 'Dollar Tree',
 'Dominion Energy',
 "Domino's Pizza",
 'Dover Corporation',
 'Dow',
 'DTE Energy',
 'Duke Energy',
 'Duke Realty Corp',
 'DuPont',
 'DXC Technology',
 'Eastman Chemical',
 'Eaton Corporation',
 'eBay',
 'Ecolab',
 'Edison International',
 'Edwards Lifesciences',
 'Electronic Arts',
 'Emerson Electric',
 'Enphase Energy',
 'Entergy',
 'EOG Resources',
 'Equifax',
 'Equinix',
 'Equity Residential',
 'Essex Property Trust',
 'Estée Lauder Companies',
 'Etsy',
 'Evergy',
 'Eversource Energy',
 'Everest Re',
 'Exelon',
 'Expedia Group',
 'Expeditors',
 'Extra Space Storage',
 'ExxonMobil',
 'F5 Networks',
 'Fastenal',
 'Federal Realty Investment Trust',
 'FedEx',
 'Fidelity National Information Services',
 'Fifth Third Bancorp',
 'FirstEnergy',
 'First Republic Bank',
 'Fiserv',
 'Fleetcor',
 'FMC Corporation',
 'Ford',
 'Fortinet',
 'Fortive',
 'Fortune Brands Home & Security',
 'Fox Corporation (Class A)',
 'Fox Corporation (Class B)',
 'Franklin Resources',
 'Freeport-McMoRan',
 'Gap',
 'Garmin',
 'Gartner',
 'Generac Holdings',
 'General Dynamics',
 'General Electric',
 'General Mills',
 'General Motors',
 'Genuine Parts',
 'Gilead Sciences',
 'Globe Life',
 'Global Payments',
 'Goldman Sachs',
 'W. W. Grainger',
 'Halliburton',
 'Hanesbrands',
 'The Hartford',
 'Hasbro',
 'HCA Healthcare',
 'Healthpeak Properties',
 'Henry Schein',
 'The Hershey Company',
 'Hess Corporation',
 'Hewlett Packard Enterprise',
 'Hilton Worldwide',
 'Hologic',
 'Home Depot',
 'Honeywell',
 'Hormel',
 'Host Hotels & Resorts',
 'Howmet Aerospace',
 'HP',
 'Humana',
 'Huntington Bancshares',
 'Huntington Ingalls Industries',
 'IDEX Corporation',
 'Idexx Laboratories',
 'IHS Markit',
 'Illinois Tool Works',
 'Illumina',
 'Incyte',
 'Ingersoll Rand',
 'Intel',
 'Intercontinental Exchange',
 'IBM',
 'International Paper',
 'Interpublic Group',
 'International Flavors & Fragrances',
 'Intuit',
 'Intuitive Surgical',
 'Invesco',
 'IPG Photonics',
 'IQVIA',
 'Iron Mountain',
 'Jack Henry & Associates',
 'Jacobs Engineering Group',
 'J. B. Hunt',
 'JM Smucker',
 'Johnson & Johnson',
 'Johnson Controls',
 'JPMorgan Chase',
 'Juniper Networks',
 'Kansas City Southern',
 "Kellogg's",
 'KeyCorp',
 'Keysight Technologies',
 'Kimberly-Clark',
 'Kimco Realty',
 'Kinder Morgan',
 'KLA Corporation',
 'Kraft Heinz',
 'Kroger',
 'L3Harris Technologies',
 'LabCorp',
 'Lam Research',
 'Lamb Weston',
 'Las Vegas Sands',
 'Leggett & Platt',
 'Leidos',
 'Lennar',
 'Eli Lilly',
 'Lincoln National',
 'Linde',
 'Live Nation Entertainment',
 'LKQ Corporation',
 'Lockheed Martin',
 'Loews Corporation',
 "Lowe's",
 'Lumen Technologies',
 'LyondellBasell',
 'M&T Bank',
 'Marathon Oil',
 'Marathon Petroleum',
 'MarketAxess',
 'Marriott International',
 'Marsh & McLennan',
 'Martin Marietta Materials',
 'Masco',
 'Mastercard',
 'Match Group',
 'McCormick & Company',
 "McDonald's",
 'McKesson Corporation',
 'Medtronic',
 'Merck',
 'Meta Platforms',
 'MetLife',
 'Mettler Toledo',
 'MGM Resorts International',
 'Microchip Technology',
 'Micron Technology',
 'Microsoft',
 'Mid-America Apartments',
 'Moderna',
 'Mohawk Industries',
 'Molson Coors',
 'Mondelez International',
 'Monolithic Power Systems',
 'Monster Beverage',
 "Moody's",
 'Morgan Stanley',
 'The Mosaic Company',
 'Motorola Solutions',
 'MSCI',
 'Nasdaq',
 'NetApp',
 'Netflix',
 'Newell Brands',
 'Newmont',
 'News Corp (Class A)',
 'News Corp (Class B)',
 'NextEra Energy',
 'Nielsen Holdings',
 'Nike',
 'NiSource',
 'Norfolk Southern',
 'Northern Trust',
 'Northrop Grumman',
 'NortonLifeLock',
 'Norwegian Cruise Line Holdings',
 'NRG Energy',
 'Nucor',
 'Nvidia',
 'NVR',
 'NXP',
 "O'Reilly Automotive",
 'Occidental Petroleum',
 'Old Dominion Freight Line',
 'Omnicom Group',
 'Oneok',
 'Oracle',
 'Organon & Co.',
 'Otis Worldwide',
 'Paccar',
 'Packaging Corporation of America',
 'Parker-Hannifin',
 'Paychex',
 'Paycom',
 'PayPal',
 'Penn National Gaming',
 'Pentair',
 "People's United Financial",
 'PepsiCo',
 'PerkinElmer',
 'Pfizer',
 'Philip Morris International',
 'Phillips 66',
 'Pinnacle West Capital',
 'Pioneer Natural Resources',
 'PNC Financial Services',
 'Pool Corporation',
 'PPG Industries',
 'PPL',
 'Principal Financial Group',
 'Procter & Gamble',
 'Progressive Corporation',
 'Prologis',
 'Prudential Financial',
 'PTC',
 'Public Service Enterprise Group',
 'Public Storage',
 'PulteGroup',
 'PVH',
 'Qorvo',
 'Quanta Services',
 'Qualcomm',
 'Quest Diagnostics',
 'Ralph Lauren Corporation',
 'Raymond James Financial',
 'Raytheon Technologies',
 'Realty Income Corporation',
 'Regency Centers',
 'Regeneron Pharmaceuticals',
 'Regions Financial Corporation',
 'Republic Services',
 'ResMed',
 'Robert Half International',
 'Rockwell Automation',
 'Rollins',
 'Roper Technologies',
 'Ross Stores',
 'Royal Caribbean Group',
 'S&P Global',
 'Salesforce',
 'SBA Communications',
 'Schlumberger',
 'Seagate Technology',
 'Sealed Air',
 'Sempra Energy',
 'ServiceNow',
 'Sherwin-Williams',
 'Simon Property Group',
 'Skyworks Solutions',
 'Snap-on',
 'Southern Company',
 'Southwest Airlines',
 'Stanley Black & Decker',
 'Starbucks',
 'State Street Corporation',
 'Steris',
 'Stryker Corporation',
 'SVB Financial',
 'Synchrony Financial',
 'Synopsys',
 'Sysco',
 'T-Mobile US',
 'T. Rowe Price',
 'Take-Two Interactive',
 'Tapestry',
 'Target',
 'TE Connectivity',
 'Teledyne Technologies',
 'Teleflex',
 'Teradyne',
 'Tesla',
 'Texas Instruments',
 'Textron',
 'Thermo Fisher Scientific',
 'TJX Companies',
 'Tractor Supply Company',
 'Trane Technologies',
 'TransDigm Group',
 'The Travelers Companies',
 'Trimble',
 'Truist Financial',
 'Twitter',
 'Tyler Technologies',
 'Tyson Foods',
 'UDR',
 'Ulta Beauty',
 'U.S. Bancorp',
 'Under Armour (Class A)',
 'Under Armour (Class C)',
 'Union Pacific',
 'United Airlines',
 'UnitedHealth Group',
 'United Parcel Service',
 'United Rentals',
 'Universal Health Services',
 'Valero Energy',
 'Ventas',
 'Verisign',
 'Verisk Analytics',
 'Verizon Communications',
 'Vertex Pharmaceuticals',
 'VF Corporation',
 'ViacomCBS',
 'Viatris',
 'Visa',
 'Vornado Realty Trust',
 'Vulcan Materials',
 'W. R. Berkley Corporation',
 'Wabtec',
 'Walmart',
 'Walgreens Boots Alliance',
 'The Walt Disney Company',
 'Waste Management',
 'Waters Corporation',
 'WEC Energy Group',
 'Wells Fargo',
 'Welltower',
 'West Pharmaceutical Services',
 'Western Digital',
 'Western Union',
 'WestRock',
 'Weyerhaeuser',
 'Whirlpool Corporation',
 'Williams Companies',
 'Willis Towers Watson',
 'Wynn Resorts',
 'Xcel Energy',
 'Xilinx',
 'Xylem',
 'Yum! Brands',
 'Zebra Technologies',
 'Zimmer Biomet',
 'Zions Bancorp',
 'Zoetis']

In [5]:
# # name matching 
# from fuzzywuzzy import fuzz
# from fuzzywuzzy import process
 
# def filter_organizations(candidates):
#     organizations = companies_list
#     threshold_b = 0.1
#     threshold = threshold_b * 100
#     res = []

#     # count = 0
#     for candidate in candidates:
#         # print("debug", count)
#         best_candidate, best_ratio = process.extractOne(candidate, organizations)
#         if best_ratio >= threshold:
#           # count += 1
#           res.append(best_candidate)
#         else:
#           # count += 1
#           res.append("not qualified")
#     return res


# import re
 
# def extract_title(xml):
#     if xml:
#         m = re.search('<PAGE_TITLE>(.+?)</PAGE_TITLE>', xml)
#         if m:
#             return str(m.group(1))
#     return ''

# # # we access content classified as "UNGP"
# # def esg_theme(xs):
# #   for x in xs:
# #     if x.startswith('UNGP'):
# #       return True
# #   return False

In [6]:
data_selected_E = data[data["V2ENHANCEDTHEMES"].str.contains('ENV', regex=False)==True][["GKGRECORDID","V2.1DATE","V1ORGANIZATIONS","V2DOCUMENTIDENTIFIER","V2ENHANCEDTHEMES","V1.5TONE"]]
data_selected_E["V2ENHANCEDTHEMES"] = "E"

data_selected_S = data[data["V2ENHANCEDTHEMES"].str.contains('UNGP', regex=False)==True][["GKGRECORDID","V2.1DATE","V1ORGANIZATIONS","V2DOCUMENTIDENTIFIER","V2ENHANCEDTHEMES","V1.5TONE"]]
data_selected_S["V2ENHANCEDTHEMES"] = "S"

data_selected_G = data[data["V2ENHANCEDTHEMES"].str.contains('ECON', regex=False)==True][["GKGRECORDID","V2.1DATE","V1ORGANIZATIONS","V2DOCUMENTIDENTIFIER","V2ENHANCEDTHEMES","V1.5TONE"]]
data_selected_G["V2ENHANCEDTHEMES"] = "G"

In [7]:
df = pd.concat([data_selected_E,data_selected_S,data_selected_G])
df = df.rename(columns={"GKGRECORDID":"id","V2.1DATE": "publishDate", "V2DOCUMENTIDENTIFIER": "url","V1ORGANIZATIONS":"organisation", "V2ENHANCEDTHEMES":"themes", "V1.5TONE":"tone"})
df["tone"] = df["tone"].str.split(',').str[0].astype("float")
df

,id,publishDate,organisation,url,themes,tone
7,20200101121500-7,20200101121500,foreign ministry;iran foreign ministry,https://www.nytimes.com/reuters/2020/01/01/wor...,E,-6.849315
13,20200101121500-13,20200101121500,instagram;european union;reuters;united states,http://www.swissinfo.ch/eng/world-welcomes-202...,E,-1.878453
23,20200101121500-23,20200101121500,chesapeake energy;city council;diebold;twitter...,https://www.cantonrep.com/news/20200101/2020-v...,E,1.239067
25,20200101121500-25,20200101121500,instagram;national breast cancer foundation,https://abc11.com/health/wake-county-mom-highl...,E,-2.758621
40,20200101121500-40,20200101121500,gros morne national park,https://matadornetwork.com/read/25-places-need...,E,0.325733
...,...,...,...,...,...,...
516038,20200105120000-750,20200105120000,setia spice convention centre;penang chinese c...,https://www.malaymail.com/news/malaysia/2020/0...,G,1.027397
516043,20200105120000-755,20200105120000,NaN,https://www.swoknews.com/news/dustin-makes-its...,G,1.831502
516051,20200105120000-763,20200105120000,thomson reuters trust principles;saudi aramco;...,https://uk.reuters.com/article/us-gulf-markets...,G,-4.491018
516052,20200105120000-764,20200105120000,foreign ministry;united nations convention;chi...,https://www.straitstimes.com/asia/se-asia/chin...,G,-1.104972
516054,20200105120000-766,20200105120000,croatian democratic union;european union,https://www.ncnewsonline.com/news/national/cro...,G,-2.115385

In [8]:
# res = filter_organizations(df["organisation"].apply(str))
# len(res)

In [9]:
# df["company"] = res
# df

In [10]:
# df["V1ORGANIZATIONS"].values[5]

In [11]:
# df.groupby(["company","themes"]).agg({"tone":"mean"})

In [12]:
# df.organisation.values[0] == float("nan")

In [13]:
def split_function_organisation(x):
    try:
        return [item.split(",")[0] for item in x]
    except:
        return None

# df["organisation_clean"] = df.organisation.str.split(";").apply(split_function_organisation)
df["organisation_clean"] = df.organisation.str.split(";")
df = df.dropna()
df

,id,publishDate,organisation,url,themes,tone,organisation_clean
7,20200101121500-7,20200101121500,foreign ministry;iran foreign ministry,https://www.nytimes.com/reuters/2020/01/01/wor...,E,-6.849315,"[foreign ministry, iran foreign ministry]"
13,20200101121500-13,20200101121500,instagram;european union;reuters;united states,http://www.swissinfo.ch/eng/world-welcomes-202...,E,-1.878453,"[instagram, european union, reuters, united st..."
23,20200101121500-23,20200101121500,chesapeake energy;city council;diebold;twitter...,https://www.cantonrep.com/news/20200101/2020-v...,E,1.239067,"[chesapeake energy, city council, diebold, twi..."
25,20200101121500-25,20200101121500,instagram;national breast cancer foundation,https://abc11.com/health/wake-county-mom-highl...,E,-2.758621,"[instagram, national breast cancer foundation]"
40,20200101121500-40,20200101121500,gros morne national park,https://matadornetwork.com/read/25-places-need...,E,0.325733,[gros morne national park]
...,...,...,...,...,...,...,...
516026,20200105120000-738,20200105120000,european union;cyprus news agency;associated p...,https://www.chronicleonline.com/news/world/lib...,G,-3.146853,"[european union, cyprus news agency, associate..."
516038,20200105120000-750,20200105120000,setia spice convention centre;penang chinese c...,https://www.malaymail.com/news/malaysia/2020/0...,G,1.027397,"[setia spice convention centre, penang chinese..."
516051,20200105120000-763,20200105120000,thomson reuters trust principles;saudi aramco;...,https://uk.reuters.com/article/us-gulf-markets...,G,-4.491018,"[thomson reuters trust principles, saudi aramc..."
516052,20200105120000-764,20200105120000,foreign ministry;united nations convention;chi...,https://www.straitstimes.com/asia/se-asia/chin...,G,-1.104972,"[foreign ministry, united nations convention, ..."
516054,20200105120000-766,20200105120000,croatian democratic union;european union,https://www.ncnewsonline.com/news/national/cro...,G,-2.115385,"[croatian democratic union, european union]"

In [45]:
def unnest(df, col, reset_index=False):
    import pandas as pd
    col_flat = pd.DataFrame([[i, x] 
                       for i, y in df[col].apply(list).iteritems() 
                           for x in y], columns=['I', col])
    col_flat = col_flat.set_index('I')
    df = df.drop(col, 1)
    df = df.merge(col_flat, left_index=True, right_index=True)
    if reset_index:
        df = df.reset_index(drop=True)
    return df

df["organisation_clean2"] = df.loc[:,"organisation_clean"]
df_temp = unnest(df[["organisation_clean", "organisation_clean2"]],"organisation_clean")
# df_temp = df_temp.reset_index()
df_temp
# df_graph = unnest(df_temp[["organisation_clean", "organisation_clean2"]],"organisation_clean2")
# df_graph = df_graph[df_graph['organisation_clean'] != df_graph['organisation_clean2']]
# df_graph = df_graph.groupby(df_graph.columns.tolist(),as_index=False).size()
# df_graph = df_graph.rename(columns={"organisation_clean":"source","organisation_clean2":"target", "size":"weight"})
# import networkx as nx
# G = nx.from_pandas_edgelist(df_graph, edge_attr="weight")

c:\users\qhuca\anaconda3\envs\download\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

,organisation_clean2,organisation_clean
7,"[foreign ministry, iran foreign ministry]",foreign ministry
7,"[foreign ministry, iran foreign ministry]",iran foreign ministry
9,[business forum],business forum
13,"[instagram, european union, reuters, united st...",instagram
13,"[instagram, european union, reuters, united st...",european union
...,...,...
516054,"[croatian democratic union, european union]",european union
516055,"[conrad hotel, alliance gala, romanian embassy...",conrad hotel
516055,"[conrad hotel, alliance gala, romanian embassy...",alliance gala
516055,"[conrad hotel, alliance gala, romanian embassy...",romanian embassy
516055,"[conrad hotel, alliance gala, romanian embassy...",united states

In [15]:
# black_list = ["united states", "european union", "reuters", "twitter", "facebook", "thomson reuters", "associated press", "new york times", "bloomberg"]
# df_temp = df_temp[~df_temp.organisation_clean.isin(black_list)]

In [46]:
# def count_len_list(x):
#     return len(x)
# df_temp["organisation_clean2"].apply(count_len_list).argmax()
# df_temp.iloc[269324,:]["organisation_clean2"]

In [47]:
import networkx as nx
G = nx.DiGraph()
for item in df_temp.organisation_clean.unique().tolist():
    G.add_node(item)

for i in tqdm(range(len(df_temp))):
    source_node = df_temp["organisation_clean"].values[i]
#     if i % 10000 == 0:
#         print(i, "\n")
    list_to_add = df_temp["organisation_clean2"].values[i]
    for item in list_to_add:
        if item not in black_list:
            if G.has_edge(source_node, item):
                G[source_node][item]['weight'] += 1
                continue
            else:
                G.add_edge(source_node, item, weight=1)

100%|█████████████████████████████████████████████████████████████████████| 2712065/2712065 [00:49<00:00, 55223.57it/s]

In [48]:
# import random
# k = 10
# sampled_nodes = random.sample(G.nodes, k)
# G2 = G.subgraph(sampled_nodes)

# import matplotlib.pyplot as plt
# plt.rcParams['figure.figsize'] = [10, 5]
# pos = nx.spring_layout(G2, k=10)  # For better example looking
# nx.draw(G2, pos, with_labels=True)
# labels = {e: G2.edges[e]['weight'] for e in G2.edges}
# nx.draw_networkx_edge_labels(G2, pos, edge_labels=labels)

In [49]:
# G = G.to_directed()
# nx.draw(G)
pr = nx.pagerank(G, alpha=0.85,max_iter=600)

In [50]:
df_pp = pd.DataFrame.from_dict(pr,orient='index').rename(columns={0:"score"}).reset_index()
df_pp

                                        index     score
0                            foreign ministry  0.000254
1                       iran foreign ministry  0.000048
2                              business forum  0.000009
3                                   instagram  0.002612
4                              european union  0.000001
...                                       ...       ...
131421  university of michigan philip hallman  0.000004
131422                               car fund  0.000008
131423                           conrad hotel  0.000008
131424                          alliance gala  0.000008
131425                       romanian embassy  0.000008

[131426 rows x 2 columns]

In [51]:
df_pp.sort_values(by="score",ascending=False)

                index     score
28        white house  0.002686
3           instagram  0.002612
767     supreme court  0.002503
48             google  0.002176
251            nasdaq  0.001768
...               ...       ...
6644  thomson reuters  0.000001
20            twitter  0.000001
1296        bloomberg  0.000001
9            facebook  0.000001
5             reuters  0.000001

[131426 rows x 2 columns]

In [52]:
# from difflib import SequenceMatcher

# def similar(a, b):
#     return SequenceMatcher(None, a, b).ratio()
from cleanco import cleanco

import jellyfish
def similar(a, b):
    return jellyfish.levenshtein_distance(a,b)


def similarity_measure(candidate):
    candidate = candidate.lower()
#     candidate = cleanco(candidate).clean_name()
    similarity_list = []
    for x in companies_list:
        # cleanco(x.lower()).clean_name()
        similarity = similar(x.lower(), candidate)
        similarity_list.append(similarity)
    return companies_list[np.argmin(similarity_list)], similarity_list[np.argmin(similarity_list)]

# df_tmp = pd.DataFrame()
# df_tmp["company"] = companies_list
# df_tmp["similarity"] = similarity_list
# df_tmp.sort_values(by="similarity", ascending=False)

In [53]:
# def string_split_space(x):
#     return x.split(" ")[0]

df_tmp2 = unnest(df,"organisation_clean")
# df_tmp2["organisation_clean"] = df_tmp2["organisation_clean"].apply(string_split_space)
df_tmp2

,id,publishDate,organisation,url,themes,tone,organisation_clean2,organisation_clean
7,20200101121500-7,20200101121500,foreign ministry;iran foreign ministry,https://www.nytimes.com/reuters/2020/01/01/wor...,E,-6.849315,"[foreign ministry, iran foreign ministry]",foreign ministry
7,20200101121500-7,20200101121500,foreign ministry;iran foreign ministry,https://www.nytimes.com/reuters/2020/01/01/wor...,E,-6.849315,"[foreign ministry, iran foreign ministry]",iran foreign ministry
9,20200101121500-9,20200101121500,business forum,https://www.ukbusinessforums.co.uk/threads/an-...,G,0.000000,[business forum],business forum
13,20200101121500-13,20200101121500,instagram;european union;reuters;united states,http://www.swissinfo.ch/eng/world-welcomes-202...,E,-1.878453,"[instagram, european union, reuters, united st...",instagram
13,20200101121500-13,20200101121500,instagram;european union;reuters;united states,http://www.swissinfo.ch/eng/world-welcomes-202...,E,-1.878453,"[instagram, european union, reuters, united st...",european union
...,...,...,...,...,...,...,...,...
516054,20200105120000-766,20200105120000,croatian democratic union;european union,https://www.ncnewsonline.com/news/national/cro...,G,-2.115385,"[croatian democratic union, european union]",european union
516055,20200105120000-767,20200105120000,conrad hotel;alliance gala;romanian embassy;un...,http://www.mvariety.com/cnmi-local/74-editoria...,S,3.994083,"[conrad hotel, alliance gala, romanian embassy...",conrad hotel
516055,20200105120000-767,20200105120000,conrad hotel;alliance gala;romanian embassy;un...,http://www.mvariety.com/cnmi-local/74-editoria...,S,3.994083,"[conrad hotel, alliance gala, romanian embassy...",alliance gala
516055,20200105120000-767,20200105120000,conrad hotel;alliance gala;romanian embassy;un...,http://www.mvariety.com/cnmi-local/74-editoria...,S,3.994083,"[conrad hotel, alliance gala, romanian embassy...",romanian embassy
516055,20200105120000-767,20200105120000,conrad hotel;alliance gala;romanian embassy;un...,http://www.mvariety.com/cnmi-local/74-editoria...,S,3.994083,"[conrad hotel, alliance gala, romanian embassy...",united states

In [54]:
df_value_counts = pd.DataFrame(df_tmp2.organisation_clean.value_counts())
threshold = df_value_counts.organisation_clean.quantile(0.95)
organisation_to_keep = df_value_counts[df_value_counts.organisation_clean <= threshold].index.values.tolist()

In [55]:
df_tmp2 = df_tmp2[df_tmp2.organisation_clean.isin(organisation_to_keep)]

In [56]:
from tqdm import tqdm
tqdm.pandas()

df_tmp2["company_match_score"] = df_tmp2["organisation_clean"].progress_apply(similarity_measure)
df_tmp2['company'], df_tmp2['match_score'] = zip(*df_tmp2.company_match_score)
df_tmp2

100%|████████████████████████████████████████████████████████████████████████| 737913/737913 [08:35<00:00, 1432.64it/s]
c:\users\qhuca\anaconda3\envs\download\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
c:\users\qhuca\anaconda3\envs\download\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,id,publishDate,organisation,url,themes,tone,organisation_clean2,organisation_clean,company_match_score,company,match_score
17,20200101121500-17,20200101121500,federation of small businesses;european union;...,https://economia.icaew.com/en/news/june-2017/b...,G,2.686567,"[federation of small businesses, european unio...",institute of directors,"(Host Hotels & Resorts, 13)",Host Hotels & Resorts,13
23,20200101121500-23,20200101121500,chesapeake energy;city council;diebold;twitter...,https://www.cantonrep.com/news/20200101/2020-v...,E,1.239067,"[chesapeake energy, city council, diebold, twi...",diebold,"(DexCom, 5)",DexCom,5
23,20200101121500-23,20200101121500,chesapeake energy;city council;diebold;twitter...,https://www.cantonrep.com/news/20200101/2020-v...,E,1.239067,"[chesapeake energy, city council, diebold, twi...",encino energy,"(Alliant Energy, 5)",Alliant Energy,5
23,20200101121500-23,20200101121500,chesapeake energy;city council;diebold;twitter...,https://www.cantonrep.com/news/20200101/2020-v...,E,1.239067,"[chesapeake energy, city council, diebold, twi...",stark economic development board,"(Constellation Brands, 23)",Constellation Brands,23
23,20200101121500-23,20200101121500,chesapeake energy;city council;diebold;twitter...,https://www.cantonrep.com/news/20200101/2020-v...,E,1.239067,"[chesapeake energy, city council, diebold, twi...",wayne college for the university of akron,"(MGM Resorts International, 29)",MGM Resorts International,29
...,...,...,...,...,...,...,...,...,...,...,...
516051,20200105120000-763,20200105120000,thomson reuters trust principles;saudi aramco;...,https://uk.reuters.com/article/us-gulf-markets...,G,-4.491018,"[thomson reuters trust principles, saudi aramc...",saudi stock exchange tadawul,"(Eastman Chemical, 19)",Eastman Chemical,19
516051,20200105120000-763,20200105120000,thomson reuters trust principles;saudi aramco;...,https://uk.reuters.com/article/us-gulf-markets...,G,-4.491018,"[thomson reuters trust principles, saudi aramc...",saudi stock exchange tadawul,"(Eastman Chemical, 19)",Eastman Chemical,19
516055,20200105120000-767,20200105120000,conrad hotel;alliance gala;romanian embassy;un...,http://www.mvariety.com/cnmi-local/74-editoria...,S,3.994083,"[conrad hotel, alliance gala, romanian embassy...",conrad hotel,"(Adobe, 8)",Adobe,8
516055,20200105120000-767,20200105120000,conrad hotel;alliance gala;romanian embassy;un...,http://www.mvariety.com/cnmi-local/74-editoria...,S,3.994083,"[conrad hotel, alliance gala, romanian embassy...",alliance gala,"(Alliant Energy, 7)",Alliant Energy,7
516055,20200105120000-767,20200105120000,conrad hotel;alliance gala;romanian embassy;un...,http://www.mvariety.com/cnmi-local/74-editoria...,S,3.994083,"[conrad hotel, alliance gala, romanian embassy...",romanian embassy,"(Dominion Energy, 8)",Dominion Energy,8

In [57]:
# df_tmp2[df_tmp2.company == "Microsoft"]
# "Apple" in df_tmp2[df_tmp2.match_score<=5].company.values.tolist()

In [58]:
def string_length(x):
    return len(x)
df_tmp2["name_length"] = df_tmp2.organisation_clean.apply(string_length)
df_tmp2["match_score_normalized"] = df_tmp2["match_score"]/df_tmp2["name_length"]
df_tmp2

c:\users\qhuca\anaconda3\envs\download\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\qhuca\anaconda3\envs\download\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,id,publishDate,organisation,url,themes,tone,organisation_clean2,organisation_clean,company_match_score,company,match_score,name_length,match_score_normalized
17,20200101121500-17,20200101121500,federation of small businesses;european union;...,https://economia.icaew.com/en/news/june-2017/b...,G,2.686567,"[federation of small businesses, european unio...",institute of directors,"(Host Hotels & Resorts, 13)",Host Hotels & Resorts,13,22,0.590909
23,20200101121500-23,20200101121500,chesapeake energy;city council;diebold;twitter...,https://www.cantonrep.com/news/20200101/2020-v...,E,1.239067,"[chesapeake energy, city council, diebold, twi...",diebold,"(DexCom, 5)",DexCom,5,7,0.714286
23,20200101121500-23,20200101121500,chesapeake energy;city council;diebold;twitter...,https://www.cantonrep.com/news/20200101/2020-v...,E,1.239067,"[chesapeake energy, city council, diebold, twi...",encino energy,"(Alliant Energy, 5)",Alliant Energy,5,13,0.384615
23,20200101121500-23,20200101121500,chesapeake energy;city council;diebold;twitter...,https://www.cantonrep.com/news/20200101/2020-v...,E,1.239067,"[chesapeake energy, city council, diebold, twi...",stark economic development board,"(Constellation Brands, 23)",Constellation Brands,23,32,0.718750
23,20200101121500-23,20200101121500,chesapeake energy;city council;diebold;twitter...,https://www.cantonrep.com/news/20200101/2020-v...,E,1.239067,"[chesapeake energy, city council, diebold, twi...",wayne college for the university of akron,"(MGM Resorts International, 29)",MGM Resorts International,29,41,0.707317
...,...,...,...,...,...,...,...,...,...,...,...,...,...
516051,20200105120000-763,20200105120000,thomson reuters trust principles;saudi aramco;...,https://uk.reuters.com/article/us-gulf-markets...,G,-4.491018,"[thomson reuters trust principles, saudi aramc...",saudi stock exchange tadawul,"(Eastman Chemical, 19)",Eastman Chemical,19,28,0.678571
516051,20200105120000-763,20200105120000,thomson reuters trust principles;saudi aramco;...,https://uk.reuters.com/article/us-gulf-markets...,G,-4.491018,"[thomson reuters trust principles, saudi aramc...",saudi stock exchange tadawul,"(Eastman Chemical, 19)",Eastman Chemical,19,28,0.678571
516055,20200105120000-767,20200105120000,conrad hotel;alliance gala;romanian embassy;un...,http://www.mvariety.com/cnmi-local/74-editoria...,S,3.994083,"[conrad hotel, alliance gala, romanian embassy...",conrad hotel,"(Adobe, 8)",Adobe,8,12,0.666667
516055,20200105120000-767,20200105120000,conrad hotel;alliance gala;romanian embassy;un...,http://www.mvariety.com/cnmi-local/74-editoria...,S,3.994083,"[conrad hotel, alliance gala, romanian embassy...",alliance gala,"(Alliant Energy, 7)",Alliant Energy,7,13,0.538462
516055,20200105120000-767,20200105120000,conrad hotel;alliance gala;romanian embassy;un...,http://www.mvariety.com/cnmi-local/74-editoria...,S,3.994083,"[conrad hotel, alliance gala, romanian embassy...",romanian embassy,"(Dominion Energy, 8)",Dominion Energy,8,16,0.500000

In [59]:
df_tmp2 = df_tmp2[df_tmp2.match_score_normalized<=0.2]

In [60]:
import winsound
duration = 1000  # milliseconds
freq = 540  # Hz
winsound.Beep(freq, duration)

In [61]:
# def string_split_space(x):
#     return x.split(" ")[0].lower()
df_pp["company_match_score"] = df_pp["index"].progress_apply(similarity_measure)
df_pp['company'], df_pp['match_score'] = zip(*df_pp.company_match_score)
df_pp

100%|████████████████████████████████████████████████████████████████████████| 131426/131426 [01:26<00:00, 1522.22it/s]

,index,score,company_match_score,company,match_score
0,foreign ministry,0.000254,"(Fortinet, 10)",Fortinet,10
1,iran foreign ministry,0.000048,"(Iron Mountain, 13)",Iron Mountain,13
2,business forum,0.000009,"(Salesforce, 8)",Salesforce,8
3,instagram,0.002612,"(Anthem, 6)",Anthem,6
4,european union,0.000001,"(Western Union, 6)",Western Union,6
...,...,...,...,...,...
131421,university of michigan philip hallman,0.000004,"(Chipotle Mexican Grill, 26)",Chipotle Mexican Grill,26
131422,car fund,0.000008,"(CarMax, 5)",CarMax,5
131423,conrad hotel,0.000008,"(Adobe, 8)",Adobe,8
131424,alliance gala,0.000008,"(Alliant Energy, 7)",Alliant Energy,7
131425,romanian embassy,0.000008,"(Dominion Energy, 8)",Dominion Energy,8

In [62]:
df_pp["name_length"] = df_pp["index"].apply(string_length)
df_pp["match_score_normalized"] = df_pp["match_score"]/df_pp["name_length"]
df_pp = df_pp[df_pp.match_score_normalized<=0.2]
df_pp

,index,score,company_match_score,company,match_score,name_length,match_score_normalized
20,twitter,0.000001,"(Twitter, 0)",Twitter,0,7,0.000000
44,boeing,0.000701,"(Boeing, 0)",Boeing,0,6,0.000000
75,netflix,0.000843,"(Netflix, 0)",Netflix,0,7,0.000000
190,exxonmobil,0.000195,"(ExxonMobil, 0)",ExxonMobil,0,10,0.000000
192,chevron,0.000224,"(Chevron, 0)",Chevron,0,7,0.000000
...,...,...,...,...,...,...,...
125514,chrysler corporation,0.000002,"(Stryker Corporation, 4)",Stryker Corporation,4,20,0.200000
125683,redman international,0.000008,"(Edison International, 4)",Edison International,4,20,0.200000
126565,google corporation,0.000003,"(Pool Corporation, 3)",Pool Corporation,3,18,0.166667
130268,kono corporation,0.000004,"(KLA Corporation, 3)",KLA Corporation,3,16,0.187500
131271,swatch group,0.000003,"(Match Group, 2)",Match Group,2,12,0.166667

In [102]:
df_final = pd.merge(df_tmp2, df_pp, on="company").drop_duplicates(subset=['id'])

In [103]:
df_final = df_final[['id', 'publishDate', 'url', 'themes', 'tone','company','score']]

In [104]:
df_final_esg_tone = df_final[["company","themes","tone"]].groupby(["company","themes"]).agg("mean").reset_index()
df_final_esg_tone["tone_normalized"] = df_final_esg_tone["tone"]/df_final_esg_tone["tone"].sum()

In [105]:
df_final_esg_pp = df_final[["company","score"]].drop_duplicates()

In [106]:
df_final_esg_pp["score_normalized"] = (df_final_esg_pp.score - df_final_esg_pp.score.min())/(df_final_esg_pp.score.max()-df_final_esg_pp.score.min())

In [107]:
df_final_esg_tone = df_final_esg_tone.groupby("company").agg("mean").reset_index()

In [108]:
df_merged_final = pd.merge(df_final_esg_tone, df_final_esg_pp)
df_merged_final

,company,tone,tone_normalized,score,score_normalized
0,APA Corporation,0.371604,0.001899,0.000004,0.003134
1,Abiomed,-0.811194,-0.004145,0.000012,0.011718
2,Activision Blizzard,-0.604734,-0.003090,0.000003,0.001996
3,Advance Auto Parts,-1.189503,-0.006078,0.000013,0.012431
4,Aflac,3.244645,0.016580,0.000011,0.010053
...,...,...,...,...,...
182,Willis Towers Watson,-1.730104,-0.008841,0.000005,0.003932
183,Xcel Energy,3.056769,0.015620,0.000040,0.042193
184,Xilinx,1.399270,0.007150,0.000009,0.008641
185,Yum! Brands,2.505695,0.012804,0.000002,0.000277
186,Zions Bancorp,1.730326,0.008842,0.000007,0.005908

In [109]:
df_merged_final.sort_values("tone",ascending=False)

,company,tone,tone_normalized,score,score_normalized
41,CVS Health,6.297666,0.032180,0.000016,0.016091
121,Omnicom Group,4.857591,0.024822,0.000005,0.003432
85,HCA Healthcare,4.844961,0.024757,0.000005,0.003663
89,Huntington Bancshares,4.648174,0.023752,0.000005,0.003253
145,Seagate Technology,4.370885,0.022335,0.000005,0.003346
...,...,...,...,...,...
118,Nielsen Holdings,-3.430750,-0.017531,0.000005,0.003655
7,Alaska Air Group,-4.086014,-0.020879,0.000004,0.002944
25,AutoZone,-4.644784,-0.023734,0.000004,0.003076
168,Universal Health Services,-5.089059,-0.026005,0.000008,0.006664
28,Bank of America,-5.119875,-0.026162,0.000003,0.001847

In [110]:
df_merged_final["weighted_esg"] = df_merged_final.tone_normalized * df_merged_final.score_normalized
df_merged_final.sort_values("weighted_esg",ascending=False)

,company,tone,tone_normalized,score,score_normalized,weighted_esg
165,United Airlines,3.855422,0.019701,0.000100,0.108221,0.002132
84,Goldman Sachs,0.929808,0.004751,0.000248,0.271488,0.001290
15,American Express,2.380225,0.012163,0.000097,0.105395,0.001282
43,Capital One,2.622950,0.013403,0.000067,0.072477,0.000971
183,Xcel Energy,3.056769,0.015620,0.000040,0.042193,0.000659
...,...,...,...,...,...,...
71,ExxonMobil,-0.568242,-0.002904,0.000195,0.213150,-0.000619
164,Union Pacific,-1.932369,-0.009874,0.000070,0.075808,-0.000749
54,Costco,-1.256444,-0.006420,0.000159,0.174151,-0.001118
57,Delta Air Lines,-1.679304,-0.008581,0.000156,0.170784,-0.001466
176,Walmart,-1.334344,-0.006818,0.000908,1.000000,-0.006818

In [121]:
df_merged_final["class"] = pd.qcut(df_merged_final['tone'], q=10, labels=range(10))

In [122]:
df_merged_final[df_merged_final["class"] == 4].sort_values("tone",ascending=False)

,company,tone,tone_normalized,score,score_normalized,weighted_esg,class
116,NRG Energy,0.664211,0.003394,0.000004,0.002949,0.000010,4
56,Darden Restaurants,0.658225,0.003363,0.000009,0.007874,0.000026,4
49,Citigroup,0.637922,0.003260,0.000124,0.135398,0.000441,4
48,Cintas Corporation,0.631860,0.003229,0.000008,0.006663,0.000022,4
180,Whirlpool Corporation,0.607206,0.003103,0.000010,0.008827,0.000027,4
61,Dover Corporation,0.607114,0.003102,0.000008,0.006663,0.000021,4
117,NextEra Energy,0.597907,0.003055,0.000034,0.035618,0.000109,4
174,W. R. Berkley Corporation,0.557543,0.002849,0.000009,0.008189,0.000023,4
59,Digital Realty Trust,0.531255,0.002715,0.000014,0.013316,0.000036,4
142,Roper Technologies,0.495868,0.002534,0.000007,0.005749,0.000015,4
50,Citizens Financial Group,0.483400,0.002470,0.000008,0.006663,0.000016,4
91,IDEX Corporation,0.480924,0.002457,0.000006,0.004521,0.000011,4
124,Paccar,0.473242,0.002418,0.000004,0.002297,0.000006,4
24,Arthur J. Gallagher & Co.,0.464690,0.002375,0.000010,0.008979,0.000021,4
35,Boston Scientific,0.423976,0.002166,0.000011,0.010264,0.000022,4
92,Illinois Tool Works,0.406467,0.002077,0.000016,0.015635,0.000032,4
161,Tyler Technologies,0.403241,0.002061,0.000009,0.008441,0.000017,4
0,APA Corporation,0.371604,0.001899,0.000004,0.003134,0.000006,4
66,Emerson Electric,0.354202,0.001810,0.000015,0.014504,0.000026,4

In [124]:
df_merged_final.to_csv("weighted_esg.csv")